
.header-color{

background: #0f0c29; 
background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #24243e, #302b63, #0f0c29); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
/* This is my main gradient navbar ^^^ */
}
.landing-grid{

  background: #0f0c29; 
  background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #24243e, #302b63, #0f0c29); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  /* This is my main gradient landing page ^^^ */
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  }
  .avatar-img {
    
    width: 20rem;
    padding: 5rem;
  }

  .banner-text{
    background-color: black;
    opacity: .7;
    width: 36rem;
    margin: auto;
    border-radius: 10%;
  }

  .banner-text h1{
    font-size: 4rem;
    font-weight: bold;
    color: white; 
  }

  .banner-text hr{
    border-top: 0.5rem dotted white;
    width: 15rem;
    margin: auto;

  }

  .banner-text p{
    color: white;
    font-size: rem;
    padding: 1rem;
  }

  .social-links {
    display: flex;
    justify-content: space-between;
    width: 12rem;
    margin: auto;

  }

  .social-links i {
    color: white;
    font-size: 5rem;
    padding: 0.1rem;
    
  }

.projects-grid {
  display: flex;
  
}