
.header-color{

  background: #c31432;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #240b36, #c31432);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #240b36, #c31432); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
/* This is my main gradient navbar ^^^ */
}
.landing-grid{

  background: #c31432;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #240b36, #c31432);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #240b36, #c31432); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
  /* This is my main gradient landing page ^^^ */
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  }
  .avatar-img {
    
    width: 25rem;
    padding: 5rem;
  }

  .banner-text{
    background-color: black;
    opacity: .7;
    width: 40rem;
    margin: auto;
    border-radius: 10%;
  }

  .banner-text h1{
    font-size: 4rem;
    font-weight: bold;
    color: white; 
    
  }

  .banner-text hr{
    border-top: 0.5rem dotted white;
    width: 15rem;
    margin: auto;

  }

  .banner-text p{
    color: white;
    font-size: 2rem;
    padding: 1rem;
  }

  .social {
    display: flex;
    justify-content: space-between;
    width: 50%;
    margin: auto;
  }
  
  .social i {
    color: white;
    font-size: 5em;
    padding: 8px;
  }

.projects-grid {
  display: inline-block;
  padding: 4rem;
}

.whole-grid{
  text-align: center;
}

.buttonHover:hover {
  transform: scale(1.05);
}

.cardHover:hover {
  transform: scale(1.05);
}


/*contage page*/
.contact-body {
  margin: auto;
  
  position: fixed;
  width: 100%;
  height: 100%;
  justify-content: center;
  padding-top: 0.1rem;
}

.contact-grid {
  text-align: center;
  justify-content: center;
  width:80%;
  height:60rem;
  background: white;
  color: black;
  
  margin-bottom: 10rem;
  

}

.contact-grid h2 {
  font-family: 'Anton', sans-serif;

}
.contact-grid p {
  font-family: 'oxygen', sans-serif;
  font-weight: bold;

}
.contact-grid hr {
  margin: auto;
  width: 50%;
  border-top: 0.5rem dotted black;

}

.contact-list i{
  font-size: 6rem;
  padding-right: 6rem;
  

}

#project-heading{
  text-align: center;
}

#aboutDescription {
margin-left: 2rem;
margin-right: 2rem;
}

#about-heading {
  text-align: center;
}
